@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif, Arial;
}

:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red:  hsl(355, 100%, 74%);
  --other-red: hsl(13, 100%, 72%);
  --other-light-red: hsl(353, 100%, 62%);
  --dark-blue: hsl(208, 49%, 24%);
  --white-color: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --my-gray: rgb(229, 225, 225);
  --dark-grey-blue: hsl(237, 17%, 21%);
  --desaturated-blue: hsl(237, 23%, 32%);
  --para-textFontSize: 16px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#welcomeBanner {
  min-height: 75vh;
  background-image: linear-gradient(270deg, var(--other-light-red), var(--other-red));
  color: var(--my-gray);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border-bottom-left-radius: 15%;
}

.background__img {
  position: absolute;
  left: 0;
  max-width: 1832px;
  z-index: -1;
  transform: translateY(-620px) rotate(10deg) scale(1.8) translateX(200px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 100px 0 100px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  margin: 0 24px;
}

.nav__link {
  cursor: pointer;
}

.nav__link--container {
  display: flex;
}

.nav__links .nav__link--container:last-child {
  position: relative;
}

#dropDownMenu {
  background-color: var(--white-color);
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  height: 160px;
  border-radius: 9px;
  display: none;
}

.dropDownContainer {
  height: 100%;
}

.dropDownList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.dropDownListItem {
  color: #333;
  cursor: pointer;
}

.dropDownListItem:hover {
  color: black;
  font-weight: 700;
}

.nav__link--container:hover #dropDownMenu {
  display: block;
}

.nav__link--container:hover, .footer__anchor:hover {
  text-decoration: underline;
}

.nav__link--container:hover .link__arrow {
  scale: -0.3;
  width: 32px;
}

.link__arrow {
  width: 32px;
  scale: 0.3;
  margin-right: 22px;
}

.logo {
  font-size: 48px;
  font-weight: 600;
  margin-right: 32px;
  color: var(--white-color);
}

.right-nav {
  display: flex;
  align-items: center;
}

.mobileButton {
  display: none;
}

.right-nav a {
  margin: 0 18px;
}

.right-nav a:hover {
  text-decoration: underline;
}

.white-button {
  background-color: var(--white-color);
  color: var(--light-red);
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 99px;
  transition: all 200ms;
}

.white-button:hover {
  background-color: var(--very-light-red);
  color: var(--white-color);
}

header {
  text-align: center;
  padding: 75px 0;
}

.header__container {
  padding: 0 32px;
}

header h1 {
  font-size: 56px;
  color: var(--white-color);
}

header p {
  font-size: var(--para-textFontSize);
  font-weight: 200;
  margin-top: 6px;
}

.header__buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.header__buttons .white-button {
  margin-right: 14px;
}

.clear__button {
  padding: 10px 22px;
  border-radius: 99px;
  outline: 1px solid var(--white-color);
  transition: all 200ms;
  color: var(--white-color);
}

.clear__button:hover {
  background-color: var(--white-color);
  color: var(--light-red);
  font-weight: 600;
}

/*

THIS IS THE LANDING PAGE 
    ||||||
    vvvvvv

*/



#landingPage {
  height: 100vh;
  padding: 9rem 0 5rem 7rem;
  margin-top: 1rem;
}

.landingPage__container {
  display: flex;
  height: 93%;
}

.left-box {
  width: 40%;
  height: auto;
}

.text__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-box {
  width: 60%;
  height: auto;
  position: relative;
}

.illustration {
  position: absolute;
  bottom: -116px;
  left: 190px;
  scale: 1.14;
}

.pageTitle {
  color: var(--dark-blue);
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.main__sub-heading {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.main__para {
  font-weight: 300;
}

/*

THIS IS THE BLOGR BANNER 
    ||||||
    vvvvvv

*/

#blogrBanner {
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: var(--desaturated-blue);
  border-bottom-left-radius: 75px;
  border-top-right-radius: 99px;
  height: 400px;
}

.blogr__container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.blogr-leftSide {
  height: 100%;
  overflow: hidden;
}

.circlePattern {
  filter: invert(0.1);
  min-width: 600px;
  transform: translate(-113px, -400px);
  scale: 1.1;
}

.phoneIllustration {
  position: absolute;
  left: 75px;
  top: -75px;
}

.blogr-rightSide {
  width: 50%;
  transform: translateX(-135px);
}

.blogr-rightSide .text__container {
  display: block;
  max-width: 500px;
}

.blogr__container .pageTitle, .blogr__container .main__para {
  color: var(--white-color);
  text-align: left;
}

.blogr__container .main__para {
  font-weight: 200;
}

/*

THIS IS THE ENDPAGE SECTION
    ||||||
    vvvvvv

*/

#endPage {
  height: 100vh;
}

.endPage__container {
  padding: 10rem 4rem 10rem 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.holderBox {
  display: flex;
}

.img__container {
  height: 100%;
}

.holderBox .right-box {
  width: 50%;
  position: relative;
}

.holderBox .left-box {
  width: 50%;
}

.laptopImg {
  position: relative;
  top: 0;
  scale: 1.5;
  left: -180px;
}

/*

THIS IS THE FOOTER
    ||||||
    vvvvvv

*/

footer {
  background-color: var(--dark-grey-blue);
  padding: 8% 0;
  border-top-right-radius: 78px;
  margin-top: 3rem;
}

.footer__title {
  color: var(--white-color);
}

.footer__anchor {
  color: var(--my-gray);
  font-weight: 200;
}

.footer__row {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.footer__title {
  margin-bottom: 1.5rem;
}

.footer__link {
  padding-bottom: 4px;
}

.footer__row .footer__column .logo {
  transform: translateY(-20px);
}

@media (max-width: 1280px) {
  .illustration {
    bottom: -110px;
  }
}

@media (max-width: 990px) {

  .left-nav .nav__links {
    display: none;
  }

  .right-nav a, .right-nav .white-button {
    display: none;
  }

  .right-nav .mobileButton {
    display: block;
    cursor: pointer;
    transition: all 100ms;
  }

  .mobileButton:hover {
    filter: opacity(25%);
  }
}

@media (max-width: 700px) {
  .header__container h1 {
    font-size: 40px;
  }
}

@media (max-width: 606px) {
  .header__container {
    padding: 0 44px;
  }
}